@model RoleEdit
@{
    ViewData["Title"] = "Update Role";
}
<h1>@ViewData["Title"]</h1>
<a asp-action="Index" class="btn btn-secondary my-2">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />
    <h2 class="p-3">Add to @Model.Role.Name</h2>
    <table class="table table-bordered table-sm">
        @if (Model.RoleNonMembers.Count() == 0) {
            <tr><td colspan="2">All Users Are Members</td></tr>
        }
        else {
            @foreach (AppUser user in Model.RoleNonMembers) {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="AddIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <h2 class="p-3">Remove from @Model.Role.Name</h2>
    <table class="table table-bordered table-sm">
        @if (Model.RoleMembers.Count() == 0) {
            <tr><td colspan="2">No Users Are Members</td></tr>
        }
        else {
            @foreach (AppUser user in Model.RoleMembers) {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="DeleteIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-primary my-2">Save</button>
</form>